<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(headtitle = |${post.spec.title} - ${site.title}|, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="primary">
      <main class="main" role="main">
        <article class="post">
          <header class="post__header">
            <h1 class="post__title" th:text="${post.spec.title}"></h1>
            <p class="post__lead"></p>
            <div class="post__meta meta">
              <div class="post__meta-box">
                <div class="post__meta-innerbox">
                  <div th:if="${post.owner.avatar != null}" class="post__meta-avatar">
                    <img
                      class="post__meta-avatar-img"
                      th:alt="${post.owner.displayName}"
                      th:src="@{${post.owner.avatar}}"
                    />
                  </div>
                  <div class="post__meta-author-divider"></div>
                  <div class="post__meta-author-info">
                    <span class="post__meta-author-name" th:text="${post.owner.displayName}"></span>
                    <span th:text="${post.owner.bio ?: '这个作者没有填写个性签名…'}"></span>
                    <span class="post__meta-time"
                      ><time
                        th:datetime="${post.spec.publishTime}"
                        th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd HH:mm:ss')}"
                      ></time
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="content post__content clearfix" th:utext="${post.content.content}"></div>
          <footer class="post__footer" th:unless="${#lists.isEmpty(post.tags)}">
            <div class="post__tags tags clearfix">
              <svg class="tags__badge icon icon-tag" width="16" height="16" viewBox="0 0 32 32">
                <path
                  d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L2 16c-1-1-1.4-2-1.4-2S0 12.5 0 11V3C0 1.5.8.8.8.8S1.5 0 3 0h8c1.5 0 3 .6 3 .6S15 1 16 2l15 15s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                ></path>
              </svg>
              <ul class="tags__list">
                <li class="tags__item" th:each="tag : ${post.tags}">
                  <a
                    class="tags__link btn"
                    th:href="${tag.status.permalink}"
                    th:text="${tag.spec.displayName}"
                    rel="tag"
                  ></a>
                </li>
              </ul>
            </div>
          </footer>
          <div th:with="postCursor = ${postFinder.cursor(post.metadata.name)}" class="page-bar">
            <div>
              <a th:if="${postCursor.hasPrevious()}" th:href="@{${postCursor.previous.status.permalink}}">
                << <span th:text="${postCursor.previous.spec.title}"></span>
              </a>
            </div>
            <div>
              <a th:if="${postCursor.hasNext()}" th:href="@{${postCursor.next.status.permalink}}">
                <span th:text="${postCursor.next.spec.title}"></span> >>
              </a>
            </div>
          </div>
          <div th:if="${haloCommentEnabled}">
            <halo:comment
              group="content.halo.run"
              kind="Post"
              th:attr="name=${post.metadata.name}"
              colorScheme="document.documentElement.dataset.colorScheme"
            />
          </div>
        </article>
      </main>
    </div>
  </th:block>
</html>
